<nav class="navbar navbar-expand-lg velox-nav">
  <div class="container">
    <a class="navbar-brand velox-brand" href="#"> <span class="brand-v">V</span>ELOX </a>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <li class="nav-item">
          <a class="nav-link velox-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link velox-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link velox-link" href="#">Contact</a>
        </li>
        <li class="nav-item ms-lg-3">
          <a class="btn velox-cta" href="#"> Shop Now <span class="arrow">→</span> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
